
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> apps ###
/apps/*/var/
###< apps ###

###> phive/tools ###
/tools/*
!/tools/.gitkeep
###< phive/tools ###

.vscode/